$font-size-base: 16px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;

$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;

$headings-font-family:    "Roboto Condensed", Helvetica, Arial, sans-serif !default;

@import "bootstrap/variables";
